@font-face {
    font-family: poppins-reg;
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('./fonts/Poppins-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins-reg;
    color: #000;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
    margin: 0 10%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

h1 {
    color: #42446E;
}

p {
    color: #666666;
}

.centre {
    text-align: center;
}

.bold {
    font-family: poppins-bold;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0 5%;
    }
}

/* Additional content styling for demonstration */
.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
