#about-me {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    line-height: 2;
}

.clg {
    display: inline;
    font-size: 0.8em;
}

.margin-top {
    margin-top: 2%;
}

.desc {
    height: auto;
    padding: 1%;
    /* background-color: #fff; */
}

.desc p {
    text-align: justify;
}

.tech-stack {
    width: 15%;
}

@media only screen and (max-width: 600px) {
    #about-me {
        height: auto;
        width: 100%;
    }
}