/* General styling for the contact section */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
}

.contact-header {
    margin-bottom: 2rem;
    font-size: 18px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    width: 100%;
    max-width: 600px; /* Set a maximum width for the form */
    text-align: center;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in the width */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.feedback {
    font-size: 2em;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #1487cc;
    border-radius: 0.5rem;
    box-sizing: border-box; /* Ensure padding is included in the width */
    font-size: 1rem;
    color: #555;
}

.form-group textarea {
    resize: none;
}

.btn {
    color: #fff;
    background: linear-gradient(90deg, #1487cc -2.06%, #e70faa 100%);
    border: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%; /* Make button width 100% */
    max-width: 200px; /* Set a maximum width for the button */
    margin: 0 auto; /* Center the button */
    box-sizing: border-box; /* Ensure padding is included in the width */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn:hover {
    background-color: #ff8a00; /* Change background color on hover */
    transform: scale(1.05); /* Scale the button slightly on hover */
}

@media only screen and (max-width: 600px) {
    #contact {
        padding: 1rem;
    }

    .feedback {
        font-size: 1.5em;
    }
}

/* Animation for shine effect on buttons */
@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

.shine {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
    animation: shine 2s infinite;
    z-index: 1;
}


